
.general {
    text-align: center;
    background-color: wheat;
    
}

.title {
    font-size: 50px;
    color: rgb(10, 26, 48);
}

.formulario {
    text-align: center;
    margin: 0;
    border: solid 2px rgb(117, 119, 208);
}