
@font-face {
    font-family: 'Aldrich';
    src: url('Aldrich-Regular.ttf');
}

.general {
    text-align: center;
    background-color: wheat;
    
}

.title {
    font-family: 'Aldrich', sans-serif;
    font-size: 60px;
    color: rgb(10, 26, 48);
}

.formulario {
    text-align: center;
    margin: 0;
    border: solid 2px rgb(117, 119, 208);
}